# Maven build output
/target/
!.mvn/wrapper/maven-wrapper.jar

# IDE files
.project
.classpath
.settings/

# Logs and Reports – track folders, ignore all files inside
logs/*
reports/*

# Keep folder structure by tracking placeholder files
!logs/.gitkeep
!reports/.gitkeep

# TestNG output
test-output/
screenshots/
logs/
target/



# Keep key project files
!pom.xml
!testng.xml
# TestNG reports
test-output/

# Screenshots
screenshots/

# Optional specific file types
*.png
*.html
*.xml
