# Maven build output
/target/
!.mvn/wrapper/maven-wrapper.jar

# IDE files
.project
.classpath
.settings/

# Logs and Reports – track folders, ignore all files inside
logs/*
reports/*

# Keep folder structure by tracking placeholder files
!logs/.gitkeep
!reports/.gitkeep

# TestNG output
test-output/

# Keep key project files
!pom.xml
!testng.xml
